<!-- <div class="bodyScroll overflow-X-Hide">
<h1 *ngIf="user.homeId==1">Welcome to Sarbari Home</h1>
<h1 *ngIf="user.homeId==2">Welcome to Marudyan Home</h1>
</div> -->



<!--New Added by Bitan 30102019-->

<div class="page-head">
  <h1 *ngIf="user.homeId==1" class="pageHeading">Welcome to Sarbari Programme</h1>
  <h1 *ngIf="user.homeId==2" class="pageHeading">Welcome to Marudyan Programme</h1>
</div>
<div class="sub-content">
  <div class="text-center p-3">
      
      <img src="assets/images/logo.png"><br>
      <h1 class="pageHeading">Management Information System</h1>
      <img src="assets/images/dashboard_1.jpg" width="180">
      <img src="assets/images/dashboard_2.jpg" width="180"><br>
      
      <img src="assets/images/dashboard_4.jpg" width="180">
      <img src="assets/images/dashboard_3.jpg" width="180">
  </div>
    
</div>
<!--/New added Bitan 30102019-->
