<div class="page-head">
    <div class="row">
        <div class="col-md-6">
            <h1 class="pageHeading">Client Health - BMI</h1>
        </div>
        <div class="col-md-6 text-right">
            <button type="button" class="btn-custom btn-red mr-2" (click)="resetScreen()" *ngIf="clientView">Reset</button>
            <button type="button" class="btn-custom btn-red mr-2" (click)="openExportDialog()">Export All</button>
            <!-- <button type="button" class="btn-custom btn-red" (click)="addNewBMI()" *ngIf="showClientBMIList || bmiId!=null">Add New</button> -->
        </div>
    </div>
</div>

<div class="sub-content">
    <form [formGroup]="searchClientForm">
        <fieldset>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Client UID :</label>
                        <!-- <input type="text" formControlName="clientId" class="form-control"> -->
                        <div>
                            <p-autoComplete [suggestions]="clientUIDList" placeholder="Type Client UID" (onSelect)="setClientUID($event)" [minLength]="1"
                                #clientID (completeMethod)="getclientUIDList($event)" formControlName="clientUID" (onKeyUp)="manageUIDValue(clientID.value)">
                                <ng-template let-results pTemplate="item">
                                    <span>{{results.clientUid}}</span>
                                </ng-template>
                            </p-autoComplete>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label>Client Name :</label>
                        <!-- <input type="text" formControlName="clientId" class="form-control"> -->
                        <div>
                            <p-autoComplete [suggestions]="clientNameList" placeholder="Type Client Name" (onSelect)="setClientName($event)" [minLength]="1"
                                #clientN (completeMethod)="getClientNameList($event)" formControlName="clientName" (onKeyUp)="manageNameValue(clientN.value)">
                                <ng-template let-results pTemplate="item">
                                    <span>{{results.clientName}} (
                                        <b>{{results.clientUid}}</b>) </span>
                                </ng-template>
                            </p-autoComplete>
                        </div>
                    </div>
                </div>

                <!-- <div class="col-md-12 text-center">
                    <button type="button" class="btn-custom btn-red mr-2" (click)="searchClientList()">Search</button>
                    <button type="button" class="btn-custom btn-blue" (click)="resetForm()">Reset</button>
                </div> -->
            </div>
        </fieldset>
    </form>

    <div class="row">
        <div class="col-md-3">
            <div class="card client-view" *ngIf="clientView">
                <div class="card-body">
                    <div class="text-center">
                        <img src="assets/images/profile.png" *ngIf="profilePhoto == ''" width="100" height="100" class="rounded-circle ee">

                        <img [src]="domSanitizer.bypassSecurityTrustUrl(profilePhoto)" *ngIf="profilePhoto !==''" width="100" height="100" class="rounded-circle ee">
                    </div>
                    <div class="text-center">
                        <h4 class="text-uppercase">{{clientView.clientMasterBean.clientName}}
                            <br>
                            <small>
                                <b>(UID : </b>
                                {{clientView.clientMasterBean.clientUid}})
                            </small>
                        </h4>
                        <h6>
                            <b>Age/Sex : </b>
                            {{clientView.clientMasterBean.age==null?"N/A":clientView.clientMasterBean.age}} / {{clientView.clientMasterBean.sexStr==null?"N/A":clientView.clientMasterBean.sexStr}}
                        </h6>
                        <h6>
                            <b>Date of Entry : </b>
                            {{clientView.clientMasterBean.dateOfEntry==null?"N/A":(clientView.clientMasterBean.dateOfEntry | date:'dd-MM-yyy')}}
                        </h6>
                        <fieldset class="mt-2 text-left">
                            <legend>Finding Details</legend>

                            <p>
                                <b>Found In Area : </b>
                                {{clientView.clientMasterBean.foundInArea==null?"N/A":clientView.clientMasterBean.foundInArea}}
                            </p>

                            <p>
                                <b>Ward No. : </b>
                                {{clientView.clientMasterBean.wardNo==null?"N/A":clientView.clientMasterBean.wardNo}}
                            </p>

                            <p>
                                <b>Police Station. : </b>
                                {{clientView.clientMasterBean.policeStation==null?"N/A":clientView.clientMasterBean.policeStation}}
                            </p>

                            <p>
                                <b>Landmark. : </b>
                                {{clientView.clientMasterBean.landmark==null?"N/A":clientView.clientMasterBean.landmark}}
                            </p>

                        </fieldset>
                        <fieldset class="mt-2 text-left">
                            <legend>Intake BMI</legend>

                            <p>
                                <b>Date of Entry : </b>
                                {{clientView.clientBMIBean==null || clientView.clientBMIBean.dateOfEntry==null?"N/A":(clientView.clientBMIBean.dateOfEntry
                                | date: 'dd-MM-yyyy')}}
                            </p>

                            <p>
                                <b>Weight (in KGs) : </b>
                                {{clientView.clientBMIBean==null || clientView.clientBMIBean.weight==null?"N/A":clientView.clientBMIBean.weight}}
                            </p>

                            <p>
                                <b>Height (in Meters) : </b>
                                {{clientView.clientBMIBean==null || clientView.clientBMIBean.height==null?"N/A":clientView.clientBMIBean.height}}
                            </p>

                            <p>
                                <b>Blood Pressure : </b>
                                {{clientView.clientBMIBean==null || clientView.clientBMIBean.bp==null?"N/A":clientView.clientBMIBean.bp}}
                            </p>

                            <p>
                                <b>BMI Score : </b>
                                {{clientView.clientBMIBean==null || clientView.clientBMIBean.bmi==null?"N/A":clientView.clientBMIBean.bmi}}
                            </p>

                            <p>
                                <b>BMI Class : </b>
                                {{clientView.clientBMIBean==null || clientView.clientBMIBean.bmiClass==null?"N/A":bmiClassStrIntake}}
                            </p>

                        </fieldset>

                    </div>

                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="card" *ngIf="clientView">
                <div class="card-body healthData">
                    <div class="content table-responsive mt-2">

                        <div *ngIf="!showClientBMIList && addEditBmi">
                            <div class="row">
                                <div class="col-md-6">
                                    <h3 class="pageHeading" *ngIf="bmiId==null">Add BMI record</h3>
                                    <h3 class="pageHeading" *ngIf="bmiId!=null">Edit BMI record</h3>
                                </div>
                                <div class="col-md-6 text-right">
                                    <button class="btn btn-link btn-sm mr-2" *ngIf="clientBMIList.length != 0" type="button" (click)="backToBMIList()">Back to List</button>
                                    <button type="button" class="btn-custom btn-sm btn-blue mr-2" (click)="addNewBMI()" *ngIf="showClientBMIList || bmiId!=null">Add New</button>
                                    <button type="button" class="btn-custom btn-sm btn-red mr-2" (click)="saveUpdateClientBmi()">Save</button>
                                </div>
                            </div>

                            <form [formGroup]="bmiForm">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label>Date of Administration</label>
                                            <input type="text" formControlName="dateOfEntry" placeholder="DD-MM-YYYY" bsDatepicker [bsConfig]="{ dateInputFormat: dateFormat, showWeekNumbers: false }"
                                                class="form-control date" #dp="bsDatepicker" [minDate]="dateOfEntry" [maxDate]="maxDate"
                                                placement="auto" [readonly]="isView=='Y'" (bsValueChange)="setCohortYear($event)"
                                                required>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                            <div class="form-group">
                                                <label>Weight
                                                        <small>(in KGs)
                                                            <span class="validation-error">*</span>
                                                        </small></label>
                                                        <input type="text" class="form-control" formControlName="weight" twoDigitDecimaNumber [readonly]="isView=='Y'" maxlength="7"
                                                        #w (blur)="calculateBMI(w.value, h.value)" required>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                                <div class="form-group">
                                                    <label>Height
                                                            <small>(in Meters)
                                                                <span class="validation-error">*</span>
                                                            </small></label>
                                                            <input type="text" class="form-control" formControlName="height" twoDigitDecimaNumber readonly maxlength="7" #h (blur)="calculateBMI(w.value, h.value)"
                                                            required>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                    <div class="form-group">
                                                        <label>Blood Pressure</label>
                                                        <input type="text" class="form-control" formControlName="bp" #bpValue (blur)="checkBPFormat(bpValue.value)" [readonly]="isView=='Y'"
                                                        maxlength="7">
                                                    <!-- <p-inputMask formControlName="bp" styleClass="form-control" placeholder="80/120" mask="99/999" [autoClear]="false" slotChar=" "></p-inputMask> -->
                                                    <span class="validation-error">
                                                        {{bpErrMsg}}
                                                    </span>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                        <div class="form-group">
                                                            <label>BMI Score</label>
                                                            <input type="text" class="form-control" formControlName="bmi" readonly tabindex="-1">
                                                        </div>
                                                    </div>
                                                    <div class="col-md-6">
                                                            <div class="form-group">
                                                                <label>BMI Class</label>
                                                                <input type="text" class="form-control" [value]="bmiClassStr" readonly tabindex="-1">
                                                            </div>
                                                        </div>
                                </div>
                                

                            </form>
                        </div>
                        <!-- <div class="text-center no-record" *ngIf="clientBMIList.length == 0">
                                                    <h1>
                                                        <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                                                    </h1>
                                                    <h2>No data found for specified parameters.</h2>
                                                </div> -->
                        <div *ngIf="showClientBMIList">

                            <!-- <h3 class="pageHeading"  [hidden]="clientBMIList.length == 0 && !allowToAdd">Latest BMI records</h3> -->
                            <div class="row no-gutters">
                                <div class="col-md-6">
                                    <h3 class="pageHeading" [hidden]="clientBMIList.length == 0 && !allowToAdd">Latest BMI records</h3>
                                </div>
                                <div class="col-md-6 text-right">
                                    <button type="button" class="btn-custom btn-sm btn-blue mr-2" (click)="addNewBMI()" *ngIf="showClientBMIList || bmiId!=null">Add New</button>
                                </div>
                            </div>
                            <div class="text-center no-record" *ngIf="clientBMIList.length == 0 && !allowToAdd">
                                <h1>
                                    <i class="fa fa-exclamation-triangle" aria-hidden="true"></i>
                                </h1>
                                <h2>Please fill up primary BMI details in the Intake Form.</h2>
                            </div>
                            <!-- <div class="text-center no-record" *ngIf="clientBMIList.length == 0 && allowToAdd">
                                        <h1><i class="fa fa-exclamation-triangle" aria-hidden="true"></i></h1>
                                        <h2>No regular BMI datails is added.</h2>
                                        <button type="button" class="btn-custom btn-sm btn-red mr-2" (click)="addNewBMI()">Add New</button>
                                    </div> -->
                            <div class="row">
                                <div class="col-12">
                                    <div class="card health-card-view mb-2" *ngFor="let c of clientBMIList | slice:pagination.first:pagination.last; let i = index">
                                        <div class="card-body">
                                            <div class="row">
                                                <div class="col-md-5">
                                                    <div class="row type">
                                                        <div class="col-md-12">
                                                            <span class="header">Date of Administration: </span>
                                                            <span class="value">{{c.dateOfEntry | date:'dd-MM-yyyy'}}</span>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <span class="header">Cohort Year: </span>
                                                            <span class="value">{{c.cohortYear}}</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-5">
                                                    <div class="row type">
                                                        <div class="col-md-12">
                                                            <span class="header">Weight
                                                                <small>(in KGs) </small>: </span>
                                                            <span class="value">{{c.weight}}</span>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <span class="header">Height
                                                                <small>(in Meters)</small>: </span>
                                                            <span class="value">{{c.height}}</span>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <span class="header">Blood Pressure: </span>
                                                            <span class="value">{{c.bp}}</span>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <span class="header">BMI: </span>
                                                            <span class="value">{{c.bmi}}</span>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <span class="header">BMI Class: </span>
                                                            <span class="value">{{c.bmiClassStr}}</span>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-2 text-center btn-section">
                                                    <button type="button" class="btn btn-blue btn-sm mr-2" *ngIf="i==0" tooltip="Edit BMI" placement="auto" container="body"
                                                        (click)="editBMI(c)">
                                                        <i class="fa fa-edit"></i>
                                                    </button>
                                                    <button type="button" class="btn btn-blue btn-sm mr-2" tooltip="View BMI" placement="auto" container="body" (click)="viewBMI(c)">
                                                        <i class="fa fa-eye"></i>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <p-paginator *ngIf="clientBMIList.length>0" [rows]="pagination.rows" [totalRecords]="pagination.totalRecords" (onPageChange)="searchPaginate($event)"></p-paginator>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <p-dialog header="Export BMI data for period of" [(visible)]="showExportDailog" [modal]="true">
        <div class="row">
            <div class="col-6">
                <div class="form-group">
                    <label>From Date :</label>
                    <input type="text" placeholder="DD-MM-YYYY" bsDatepicker [bsConfig]="{ dateInputFormat: dateFormat, showWeekNumbers: false }"
                        class="form-control date" #dp="bsDatepicker" #fromDate [maxDate]="maxDate" placement="auto" (bsValueChange)="setFromDate($event)">
                </div>
            </div>
            <div class="col-6">
                <div class="form-group">
                    <label>To Date :</label>
                    <input type="text" placeholder="DD-MM-YYYY" bsDatepicker [bsConfig]="{ dateInputFormat: dateFormat, showWeekNumbers: false }"
                        class="form-control date" #dp="bsDatepicker" #toDate [maxDate]="maxDate" placement="auto" (bsValueChange)="setToDate($event)"
                        required>
                </div>
            </div>
            <div class="col-12 text-right">
                <button type="button" class="btn-custom btn-blue" (click)="exportToExcel(fromDate.value, toDate.value)">Export</button>
            </div>
        </div>
    </p-dialog>

    <p-dialog header="View BMI" [contentStyle]="{'max-width':'400px'}" [(visible)]="viewDialog" [modal]="true">
        <div class="row viewDialog" *ngIf="viewData">
            <div class="col-md-6">
                <p class="header">Date</p>
            </div>
            <div class="col-md-6">
                <p class="data">{{viewData.dateOfEntry | date: 'dd-MM-yyyy'}}</p>
            </div>
            <div class="col-md-6">
                <p class="header">Weight</p>
            </div>
            <div class="col-md-6">
                <p class="data">{{viewData.weight}}</p>
            </div>
            <div class="col-md-6">
                <p class="header">Height</p>
            </div>
            <div class="col-md-6">
                <p class="data">{{viewData.height}}</p>
            </div>
            <div class="col-md-6">
                <p class="header">Blood Pressure</p>
            </div>
            <div class="col-md-6">
                <p class="data">{{viewData.bp==""?'N/A':viewData.bp}}</p>
            </div>
            <div class="col-md-6">
                <p class="header">BMI</p>
            </div>
            <div class="col-md-6">
                <p class="data">{{viewData.bmi}}</p>
            </div>
            <div class="col-md-6">
                <p class="header">BMI Class</p>
            </div>
            <div class="col-md-6">
                <p class="data">{{viewData.bmiClassStr}}</p>
            </div>
        </div>


    </p-dialog>